
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#background {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0.7;

}

.image-container {
    margin-left: 10px;
    margin-bottom: 0;
}

.image {
    height: 340px;
    width: 340px;
    border-radius: 15px;
}

main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.85);

}

main:hover {
    background: rgba(255, 255, 255, 1);
}


.login-wrapper {
    height: 30em;
    width: 20em;
    display: flex;
    flex-direction: column;
}

.logo {
    position: fixed;
}



@media only screen and (max-width: 450px) {
    #background {
        display: none;
    }
}

@media only screen and (max-width: 1049px) {
    .image {
        max-height: 240px;
        max-width: 240px;
    }
}