* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: whitesmoke;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;

}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    height: auto;
    width: 70em;
    margin: 0 0 1em 1em;
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 1em;
    box-shadow: 2px 5px 5px lightgray;
    display: flex;
}

.image {
    flex: 1;
    width: 100%;
    height: auto;
    max-width: 640px;
    border-radius: 0;
    border: none;
    margin: 0;

}

.card-container > div:last-child {
    justify-content: flex-start;
}

.aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
    padding-left: 1em;

}

.comments-container > h4 {
    padding-top: 1em;
}


.likes {
    padding-top: 1em;
}

.comments {

    background-color: whitesmoke;
    padding-top: 1em;
    list-style: none;
    box-shadow: 2px 5px 5px lightgray;
    overflow-y: scroll;
}

.comments > li {
    padding: 0 0 0.5em 1em;
}

.comment-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.like-btn {
    border: none;
    background-color: whitesmoke;
    outline: none;
    cursor: pointer;
}

.like-btn > ion-icon {
    color: #1e1e1e;
}

.comment-btn {
    height: 1.5em;
    width: 3em;
    border: none;
    background-image: linear-gradient(to bottom right, mediumslateblue, palevioletred);
    border-radius: 2em;
    padding: 0.5em;
    outline: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    color: whitesmoke;
}

.comment-btn:hover {
    background: slateblue;
}

.like-btn > ion-icon {
    font-size: 2em;
}

textarea {
    border: 1px solid lightgrey;
}

.top-btn {
    height: 5em;
    width: 5em;
    display: none;
    position: fixed;
    bottom: 5%;
    right: 7%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: palevioletred;
    color: white;
    cursor: pointer;
    padding: 1em;
    border-radius: 50%;

}

.top-btn > ion-icon {
    font-size: 2em;
}

.top-btn:hover {
    opacity: 1 !important;
}

.btn-entrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btn-entrance;
}

@-moz-document url-prefix() {
    textarea {
        overflow-y: scroll;
    }
}

@keyframes btn-entrance {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
        opacity: 0.8;
    }
}

.btn-exit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btn-exit;
}

@keyframes btn-exit {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
}

.post-btn {
    height: 5em;
    width: 5em;
    position: fixed;
    top: 10%;
    right: 7%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: palevioletred;
    color: white;
    cursor: pointer;
    padding: 1em;
    border-radius: 50%;
    text-align: center;
}

.post-btn:hover {
    background-color: slateblue;
}

.post-btn > p {
    font-size: 1em;
}

@media only screen and (max-width: 900px) {
    .card {
        flex-direction: column;
    }

    .image {
        width: 100%;
        max-width: 1050px;
        align-self: center;
    }
}

