
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: whitesmoke;
    font-family: "Montserrat", sans-serif;
}

header {
    position: fixed;
    top: 5%;
    left: 5%;
    background: slateblue;
    height: 8em;
    width: 8em;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    transition:all 0.3s ease;
    z-index: 9999;
    font-family: "Lobster Two", sans-serif;
}

header > ion-icon {
    font-size: 2.25em;
    padding-bottom: 0.25em;
}

header > p {
    font-size: 1.2em;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url("../images/front-page/bg.jpg");
    background-size: cover;
    overflow-x: hidden;
}

main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 15px;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40em;
    width: 30em;
}

.login-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.main-title {
    text-align: center;

}

.main-title > h2, h5 {
    color: #1e1e1e;
    margin: 0.5em 0 1em 0;
}

.main-logo > ion-icon {
    color: slateblue;
    font-size: 2em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

form > a {
    color: #1e1e1e;
}

form > a:hover {
    color: slateblue;
}

input {
    width: 100%;
    background: rgba(150, 150, 150, 0.1);
    padding: 1em;
    border: 0.1em solid darkgrey;
    border-radius: 1em;
    margin: 1em;
    box-shadow: 2px 5px 5px lightgray;
}

input:hover {
    border: 0.1em solid slateblue;
}

main:hover {
    background: rgba(255, 255, 255, 1);
}

.logo {
    position: fixed;
}

button {
    height: 3em;
    width: 10em;
    margin: 3em 0 2em 0;
    color: whitesmoke;
    border: none;
    border-radius: 2.5em;
    background-image: linear-gradient(to bottom right, mediumslateblue, palevioletred);
    box-shadow: 3px 7px 7px lightgray;
}

button:hover {
    background: slateblue;
    cursor: pointer;
}

#login-text{
    font-size: 1.25em;
}

input, button{
    outline: none;
}


@media only screen and (max-width: 1049px) {

    header {
        height: 5em;
        width: 5em;
    }

    header > ion-icon{
        font-size: 1.5em;
    }

    header > p{
        font-size: 0.75em;
    }

    main {
        height: 30em;
        width: 20em;
    }

}