*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    font-size: 16px;
}
nav{
    padding: 0px 15px;
    background: #201F21;
}
.menu, .submenu{
    list-style-type: none;
    color: white;
}
.logo{
    font-size: 20px;
    display: flex;
    padding: 7.5px 10px 7.5px 0;
}
#add-pic-button, #profile-button {
    padding: 9px 5px;
}
#add-pic-button a:hover, #profile-button a:hover, #add-pic-button a:hover::after, #profile-button a:hover::after{
    color: #ccc;
}
ion-icon{
    font-size: 20px;
    cursor: pointer;
}
#logo-img{
    font-size: 40px;
}

/* Mobile menu */
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu li a{
    display: block;
    padding: 15px 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.menu li.subitem a{
    padding: 15px;
}
.toggle{
    order:1;
    font-size: 20px;
}
.item{
    width: 100%;
    text-align: center;
    order: 2;
    display: none;
}
.active .item{
    display: block;
}
.submenu{
    display: none;
}
.submenu-active .submenu{
    display: block;
}

ion-icon[name='chevron-down-outline']{
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    padding-left: 5px;
}

.subitem a {
    padding: 10px 15px;
}

.submenu-active{
    background-color: #111;
    border-radius: 3px;
}

form{
    display: flex;
    justify-content: center;
}
form input[name=search] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    background: #f1f1f1;
}

form button {
    padding: 7.5px;
    background: #2196F3;
    color: white;
    font-size: 16px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form button:hover {
    background: #0b7dda;
}

form input:focus{
    outline: none;
}
form button:focus{
    outline: none;
}

form::after {
    content: "";
    clear: both;
    display: table;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
}
.content-modal {
    margin: auto;
    background: whitesmoke;
    border: none;
    border-radius: 2em;
}
.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 7%;
    top:4%;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.edit-user-wrapper, .register-wrapper, .post-wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 50vh;
    height: auto;
    justify-content: center;
}
.content-modal>form{
    height: 40em;
    width: 30em;
    max-width: 90vw;
    margin: auto;
    padding: 0.8em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: whitesmoke;
    border-radius: 2em;
}
.upload-btn-wrapper {
    position: relative;
    /*overflow: hidden;*/
    display: inline-block;
}
.btn, .btn:hover {
    border: none;
    background-color: whitesmoke;
    background-image: none;
    margin-bottom: 0;
}
.upload-btn-wrapper input[type=file] {
    width: 2em;
    height: 2em;
    position: absolute;
    left: 1.8em;
    top: 1.8em;
    transform: translate(-50%, -50%);
    opacity: 0;
}

#art-img-file {
    width: 2em;
    height: 2em;
    position: absolute;
    left: 1.8em;
    top: 1.8em;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.modal-button{
    margin: 0.5em;
    padding: 0.4em 1em;
    background-image: linear-gradient(to bottom right, mediumslateblue, palevioletred);
    border: none;
    border-radius: 2em;
    box-shadow: 3px 5px 5px lightgray;
    height: 2em;
}
.modal-button:hover{
    background: slateblue;
}
.modal-button:focus{
    outline: none;
}

#cancel-button, #user-cancel-button, #delete-button, #delete-image {
    background: whitesmoke;
    color: #1e1e1e;
    border: 0.1em solid slateblue;

}

#save-button, #user-cancel-button, #delete-button {
    width: 9em;
}

#cancel-button:hover, #user-cancel-button:hover {
    background-color: slateblue;
    color: whitesmoke;
}

#delete-button:hover {
    background-color: #ff2b39;
    border: 0.1em solid #ff2b39;
    color: whitesmoke;
}

textarea{
    margin: 1.0em;
    border: 0.1em solid grey;
    width: 100%;
    padding: 0.5em;
}

.genre-selection h2{
    font-size: 0.8em;
}
.genre-selection{
    font-size: 1em;
    margin: 0.5em;
}
label{
    width: 90%;
}
input[type='checkbox']{
    width: 10%;
}
.edit-user-wrapper input{
    margin: 1em;
    width: 80%;
    border: 0.1em solid darkgrey;
    background: rgba(150, 150, 150, 0.2);
    padding: 0.75em;
    border-radius: 1em;
    box-shadow: 2px 5px 5px lightgray;
}

.edit-user-wrapper input:hover{
    border: 0.1em solid slateblue;
}

.edit-user-wrapper input::placeholder, .edit-user-wrapper textarea::placeholder{

}
.edit-user-wrapper input:active, .edit-user-wrapper input:focus{
    outline: none;
}
.check{
    text-align: center;
    margin: 0.2em;
}
#plus-icon{
    font-size: 2.25em;
    color: palevioletred;
}
#plus-icon:hover{
    background: whitesmoke;
}

@-moz-document url-prefix() {
    textarea{
        overflow-y:scroll;
    }
}

.image-user-wrapper{
    display: flex;
    align-items: center;
    width: 70em;
}
.image-user-content-modal{
    height: auto;
    width: 100%;
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 1em;
    background-color: whitesmoke;
    margin: auto;
}

.image-user-content-modal-wrapper{
    display: flex;
    position: relative;
}
#user-post-image{
    flex: 1;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 750px;
    border-radius: 0;
    border: none;
    margin: 0;
}
#user-post-image-aside{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
    padding-left: 1em;
    color: #1e1e1e;
}

#image-caption {
    padding: 0.5em 0.5em 1.5em 0;
}


.comments{
    background-color: whitesmoke;
    height: 10em;
    padding-top: 1em;
    list-style: none;
    box-shadow: 2px 5px 5px lightgrey;
    overflow-y: scroll;
}

.comment-content {
    padding: 0.5em 0.5em 0.5em 0;
}

.comment-time {
    color: darkgrey;
}


.add-comment{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}
#comment-text{
    border: 1px solid lightgray;
    resize: none;
    margin: 1.0em 1.0em 1.0em 0
}
#comment-btn{
    height: 2em;
    width: 6em;
    border: none;
    background-image: linear-gradient(to bottom right, mediumslateblue, palevioletred);
    border-radius: 2em;
    padding: 0.5em;
    outline: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    color: whitesmoke;
    line-height: 0.5;
    margin-top: 0.5em;
    align-self: flex-end;
}
.like-form{
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    width: 50%;
    position: relative;
}
.like-btn{
    border: none;
    background-color: whitesmoke;
    outline: none;
    cursor: pointer;
}
.likes{
    position: absolute;
    left: 15%;
    padding-top: 1em;
}
.aside-bottom{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
/*Tablet menu*/

@media only screen and (min-width: 769px){
    .menu{
        justify-content: center;
    }
    .logo{
        flex: 1;
    }
    .item{
        display: block;
        width: auto;
        order: 1;
        position: relative;
    }
    .submenu-active .submenu{
        display: block;
        position: absolute;
        left: 0;
        top: 66px;
        background: #111;
    }
    .toggle{
        display: none;
    }
    .submenu-active{
        border-radius: 0;
    }
}


/*Desktop*/
@media only screen and (min-width: 960px){

}
@media only screen and (max-width: 900px) {

    .comments {
        height: 8em;
    }

    .image-user-content-modal-wrapper {
        flex-direction: column;
    }

    #user-post-image {
        width: 100%;
        height: 100%;
        max-width: 800px;
        max-height: 1200px;
        align-self: center;
    }
}

/*muuta kuin navbar*/
.profile-info{
    display: flex;
    flex-direction: column;
}
img{
    max-width: 100%;
    width: 125px;
    height: 125px;
    border-radius: 50%;
}
section h2, .desc{
    text-align: center;
    padding: 0.2em;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.grid-item img{
    margin: 4em;
    max-width: 100%;
    height: auto;
    border: 0.1em solid black;
    border-radius: 0;
}

