*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;

}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url("../images/front-page/bg.jpg");
    overflow-x: hidden;
}
main{
    margin: auto;
    background: white;
    border-radius: 2em;
}
.edit-user-wrapper, .register-wrapper, .post-wrapper{
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
form{
    height: 40em;
    width: 30em;
    margin: auto;
    padding: 0.8em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    max-width: 100%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#art-img{
    max-width: 100%;
    height: auto;
    margin-bottom: 0;
    border-radius: 5%;
    border: 0.1em solid black;
}
input{
    margin: 0.5em;
    width: 80%;
    border: 0.1em solid darkgrey;
    background: rgba(150, 150, 150, 0.2);
    padding: 0.5em;
    border-radius:  1em;
    box-shadow: 2px 5px 5px lightgrey;

}
input::placeholder, textarea::placeholder{

}
input:active, input:focus{
    outline: none;
}

input:hover {
    border: 0.1em solid slateblue;
}

textarea{
    margin: 1.0em;
    border: 0.1em solid grey;
    width: 100%;
    padding: 0.5em;
    box-shadow: 2px 5px 5px lightgrey;
    color: lightgrey;
}

.genre-selection h2{
    font-size: 0.8em;
}
.genre-selection{
    font-size: 1em;
    margin: 0.5em;
}
label{
    width: 90%;
}
input[type='checkbox']{
    width: 10%;
}
.check{
    text-align: center;
    margin: 0.2em;
}
button{
    margin: 0.5em;
    padding: 0.4em 1em;
    background-image: linear-gradient(to bottom right, mediumslateblue, palevioletred);
    border: none;
    border-radius: 2em;
    box-shadow: 3px 5px 5px lightgray;
    height: 2em;
    width: 8em;
    color: whitesmoke;
}

#cancel-button {
    background: white;
    color: #1e1e1e;
    border: 0.1em solid slateblue;
}

#cancel-button:hover {
    background-color: slateblue;
    color: white;
}

button:hover{
    background:slateblue;
}
button:focus{
    outline: none;
}

.upload-btn-wrapper {
    position: relative;
    /*overflow: hidden;*/
    display: inline-block;
}
.btn, .btn:hover {
    border: none;
    background-color: white;
    background-image: none;
    margin-bottom: 0;
}
.upload-btn-wrapper input[type=file] {
    width: 2em;
    height: 2em;
    position: absolute;
    left: 1.4em;
    top: 0.6em;
    opacity: 0;
}
ion-icon{
    font-size: 2.25em;
    color: green;
}
ion-icon:hover{
    color: darkgreen;
}

@-moz-document url-prefix() {
    textarea{
        overflow-y:scroll;
    }
}

@media only screen and (max-width: 500px){
    body{
        background-image: none;
    }
    main{
        border: none;
        border-radius: 0;
        box-shadow: none;
    }
}
@media only screen and (max-width: 424px){
}

